<p>Hi {{email}}!</p>

<p>Thanks so much for joining us to beta test FarmHaus,
	we’re excited to have you on board!</p>

<p>For now, FarmHaus is busy doing research and building out our first offering. We'll be updating you on our progress!
</p>

<p>If you have any questions or find any issues, big or small,
	please drop us a note (by <a href="mailto:farmhaus.app@gmail.com">farmhaus.app@gmail.com</a> or <a href="https://twitter.com/farmhausapp">twitter</a>)</p>

<p>Have a good one!</p>
<p>Allison, Alyssa, Jessica, Nicole, and Russell<p>
<p><em>Team FarmHaus<em><p>
<a href="https://farmhaus.app">https://farmhaus.app</a>