/*
 *
 * ***** DESKTOP ***** *
*/

.logo {
  width: 75px;
}


/*
 *
 * ***** RESPONSIVE ***** *
*/

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .logo {
    width: 52px;
  }
}

@media only screen and (max-width: 813px) and (orientation: landscape) {
  .logo {
    width: 57px;
  }
}



