.bg {
	background: rgb(0,101,114);
	background: linear-gradient(0deg, rgba(0,101,114,1) 0%, rgba(21,230,182,1) 100%);
	color: #ffffff;
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;

}

.btn {
	background-color: #15E6B6;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	height: 59px;
	text-transform: uppercase;
	width: 192px;

}

.btn_container {
	margin-top: 22px;
	text-align: center;
}

.emailInput {
	border-radius: 37px;
	color: #15e6b6;
	font-size: 22px;
	height: 62px;
	margin: 0 auto;
	padding-left: 2rem;
	width: 630px;
}

.emailInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #15e6b6;
}
.emailInput::-moz-placeholder { /* Firefox 19+ */
	color: #15e6b6;
	opacity: 1;
}
.emailInput:-ms-input-placeholder { /* IE 10+ */
	color: #15e6b6;
}
.emailInput:-moz-placeholder { /* Firefox 18- */
	color: #15e6b6;
	opacity: 1;
}

.emailInput_container {
	margin-top: 22px;
	text-align: center;
}

.h1, .h2, .logo {
	text-align: center;
}

.h1 {
	font-size: 32px;
	font-weight: 700;
	margin-top: 60px;
	margin-bottom: 0;
}

.h2 {
	font-size: 26px;
	font-weight: 400;
	margin-top: 10px;
}

.logo {
	margin: 0 auto;
	padding-top: 60px;
	width: 100vw;
}

.socialIcon, .socialIcon_hover {
	width: 75px;
}

.socialIcon, .socialIcon_hover  {
	display: inline-block;
}

.socialIcon_container {
	position: absolute;
	bottom: 60px;
	display: flex;
	justify-content: center;
	width: 100vw;
}

/*
 *
 *
 *
 * ***** RESPONSIVE ***** *
*/

@media only screen and (max-width: 600px) {
	html, body {
		font-size: 12px; 
	}

	.btn {
		height: 40px;
		width: 50vw;
	}

	.emailInput {
		font-size: 1.5rem;
		height: 54px;
		width: 90vw;
	}

	.h1 {
		font-size: 2rem;
	}

	.h2 {
		font-size: 1.5rem;
	}

	.logo {
		padding-top: 40px;
	}

	.socialIcon {
		display: inline-block;
		margin: 0 1rem;
		width: 60px;
	}
	
	.socialIcon_container {
		margin-top: 12rem;
	}
}