.bg {
	background: rgb(0,101,114);
	background: linear-gradient(0deg, rgba(0,101,114,1) 0%, rgba(21,230,182,1) 100%);
	color: #ffffff;
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;

}

.btn {
	background-color: #15E6B6;
	border: none;
	/* border-radius: 2.7778vh; calc(30/1080) */
	border-radius: 1.7rem;
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 700;
	/* height: 5.463vh; calc(59px/1080px); */
	min-width: 192px;
	padding: 1rem 0;
	text-transform: uppercase;
	width: 10vw; /* calc(192px/1920px); */

}

.btn_container {
	margin-top: 5.3704vh; /* calc(58/1080); */
	text-align: center;
}

.emailInput {
	border: none;
	border-radius: 3.4259vh; /* calc(37/1080); */
	color: #15e6b6;
	font-size: .9375rem;
	min-height: 4.0741vh; /* calc(44/1080); */
	margin: 1.2962vh auto; /* calc(12/1080) */
	max-width: 600px;
	padding: 0.7rem 0 0.7rem 2rem;
	text-transform: uppercase;
	/* width: 32.8125vw; 630px/1920px; */
	width: 66vw;
}

.emailInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #15e6b6;
}
.emailInput::-moz-placeholder { /* Firefox 19+ */
	color: #15e6b6;
	opacity: 1;
}
.emailInput:-ms-input-placeholder { /* IE 10+ */
	color: #15e6b6;
}
.emailInput:-moz-placeholder { /* Firefox 18- */
	color: #15e6b6;
	opacity: 1;
}

.emailInput_container {
	/* margin-top: 1.2963vh; calc(14/1080); */
	margin-top: 2.5vh;
	text-align: center;
}

.h1, .h2, .logo {
	text-align: center;
}

.h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 17.4074vh; /* calc(188px/1080px); */
	margin-bottom: 0;
}

.h2 {
	font-size: 1.5625rem;
	font-weight: 400;
	/* margin-top: 1.0185vh; calc(11px/1080px); */
	margin-top: 0.5vh;
}

.logo {
	margin: 0 auto;
	padding-top: 9.2592vh; /* calc(100px/1080px); */
	width: 100vw;
}

.socialIcon, .socialIcon_hover {
	height: 6.8518vh; /* calc(74px/1080px); */
	width:  6.8518vh;
}

.socialIcon, .socialIcon_hover  {
	display: inline-block;
}

.socialIcon_container {
	position: absolute;
	bottom: 8.7963vh; /* calc(95px/1080px); */
	display: flex;
	justify-content: center;
	width: 100vw;
}

/*
 *
 *
 *
 * ***** RESPONSIVE --- PORTRAIT ***** *
*/

@media only screen and (max-width: 600px) and (orientation: portrait) {
	html, body {
		font-size: 10px; 
	}

	.btn {
		font-size: 11px;
		height: 30px;
		width: 96px;
	}

	.emailInput {
		font-size: 9px;
		height: 32px;
		width: 295px;
	}

	.emailInput_container {
		margin-top: 24px;
	}

	.h1 {
		font-size: 22px;
		margin: 126px auto 0;
		width: 295px;
	}

	.h2 {
		font-size: 15px;
		margin: 10px auto 0;
		width: 295px;
	}

	.logo {
		padding-top: 46px;
	}

	.socialIcon {
		display: inline-block;
		height: 28px;
		margin: 0 1rem;
		width: 28px;
	}
	
	.socialIcon_container {
		bottom: 49px;
	}
}

/*
 *
 *
 *
 * ***** RESPONSIVE --- LANDSCAPE ***** *
*/

@media only screen and (max-width: 913px) and (orientation: landscape) {
	html, body {
		font-size: 10px; 
	}

	.btn {
		border-radius: 15px;
		font-size: 11px;
		height: 30px;
		width: 96px;
	}

	.btn_container {
		margin-top: 17px;
	}

	.emailInput {
		border-radius: 16px;
		font-size: 9px;
		height: 32px;
		width: 395px;
	}

	.emailInput_container {
		margin-top: 12px;
	}

	.h1 {
		font-size: 22px;
		margin: 45px auto 0;
		width: 495px;
	}

	.h2 {
		font-size: 15px;
		margin: 10px auto 0;
		width: 495px;
	}

	.logo {
		padding-top: 35px;
	}

	.socialIcon {
		display: inline-block;
		height: 32px;
		margin: 0 1rem;
		width: 32px;
	}
	
	.socialIcon_container {
		bottom: 14px;
	}
}